<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr>
                <td>Files to upload:</td>
                <td>
                    <input type="file" accept=".txt,.rtf" name="files" multiple="multiple" required="required"/>
                </td>

            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload chosen files"/></td>
            </tr>
        </table>
    </form>
</div>

<div th:if="${!files.empty}">
    <table>
        <tr>
            <td>Uploaded files:</td>
        </tr>
    </table>
    <ul>
        <li th:each="file : ${files}">
            <h4 th:text="${file}"/>
        </li>
    </ul>

</div>

<div th:if="${!files.empty}">
    <form method="GET" action="/parse">
        <!--<form method="GET" enctype="multipart/form-data" action="/parse">-->
        <table>
            <tr>
                <td></td>
                <td><input type="submit" value="Parse files"/></td>
            </tr>
        </table>
    </form>
</div>

<div>
    <!--<form method="GET" enctype="multipart/form-data" action="/clear">-->
    <form method="GET" action="/clear">
        <table>
            <tr>
                <td></td>
                <td><input type="submit" value="Reset"/></td>
            </tr>
        </table>
    </form>
</div>

<div th:if="${result}">
    <table>
        <tr>
            <td>Result of parsing:</td>
        </tr>
    </table>
    <p th:text="${result}"></p>
</div>

</body>
</html>
