<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr>
                <td>Files to upload:</td>
                <td>
                    <input type="file" accept=".txt,.rtf" name="files" multiple="multiple" required="required"/>
                </td>

            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload chosen files"/></td>
            </tr>
        </table>
    </form>
</div>

<div th:if="${files != null and !files.empty}">
    <table>
        <tr>
            <td>Uploaded files:</td>
        </tr>
    </table>
    <ul>
        <li th:each="file : ${files}">
            <h4 th:text="${file}"/>
        </li>
    </ul>

</div>

<!--th:if="${variable.something} == null"-->
<!--th:if="${evaluation &lt; 49 and evaluation &gt; 29}"-->
<!--<div th:if="${!files.empty}">-->
<div>
    <form method="GET" action="/parse">
        <!--<form method="GET" enctype="multipart/form-data" action="/parse">-->
        <!--<table th:if="${!files.empty}">-->
        <table th:if="${files != null and !files.empty}">
            <tr>
                <td></td>
                <td><input type="submit" value="Parse files"/></td>
            </tr>
        </table>
    </form>
</div>

<div>
    <!--<form method="GET" enctype="multipart/form-data" action="/clear">-->
    <form method="GET" action="/clear">
        <table>
            <tr>
                <td></td>
                <td><input type="submit" value="Reset"/></td>
            </tr>
        </table>
    </form>
</div>

<div th:if="${results}">
    <table>
        <tr>
            <td>Result of parsing:</td>
        </tr>
    </table>

    <p id="demo"></p>

    <!--<script type="text/javascript" th:inline="javascript">-->
    <!--<script type="application/javascript" th:inline="javascript">-->
    <script th:inline="javascript">
                var map = /*[[${results}]]*/ [];
        //        var map = [[${results}]];
        //        var map = [(${results})];
//        var map = /*[(${results})]*/ {};

        var json = JSON.stringify(map, null, 4);
//        alert(json);
        //        document.getElementById("demo").innerHTML = JSON.stringify(map, null, '\t');
        document.getElementById("demo").innerHTML = json;
    </script>

 <!--   <ul>
        <h4 th:text="${results}"/>
    </ul>-->
</div>

</body>
</html>
